<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mappingpedia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"-->
    <!--integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
    <!--integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
    <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"-->
    <!--integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"-->
    <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"-->
    <!--integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"-->
    <!--crossorigin="anonymous"></script>-->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


            <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
            <!--integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
            <!--crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>



    {%block head%}
    {%endblock%}




</head>
<body>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {%if nav == "dataset"%} active {%endif%} " href="dataset">Add Dataset</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%if nav == "mapping"%} active {%endif%} " href="mapping">Add Mapping</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%if nav == "execute"%} active {%endif%}" href="execute">Execute</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="dataset">test</a>
  </li>

</ul>

    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-2 col-md-8 offset-sm-1 col-sm-10">
                {%block body%}
                {%endblock%}
            </div>
        </div>
    </div>

</body>
</html>