{% extends "base.html" %}
{% block body %}

<br>
<form method="POST"> {% csrf_token %}


    <!--<div class="form-group">-->
    <!--<label for="org">Organization Name</label>-->
    <!--<input type="text" name="organization" class="form-control" id="org" placeholder="Enter the organization name">-->
    <!--</div>-->


    <div class="form-group">
        <label for="organization">Organization Name</label>
        <select name="organization" class="form-control" id="organization">
            {%for organization in organizations%}
            <option value="{{organization}}">{{organization}}</option>
            {%endfor%}
        </select>
    </div>

    <!--<div class="form-group">-->
    <!--<label for="dataset_select">Dataset</label>-->
    <!--<select name="dataset_id" class="form-control" id="dataset_select">-->
    <!--{%for dataset in datasets%}-->
    <!--<option value="{{dataset.id}}">{{dataset.id}}</option>-->
    <!--{%endfor%}-->
    <!--</select>-->
    <!--</div>-->

    <div class="form-group">
        <label for="dataset_id">Dataset</label>
        <input type="text" name="dataset_id" class="form-control" id="dataset_id"
               placeholder="Enter the id of the dataset">
    </div>


    <div class="form-group">
        <label for="distribution_download_url">Distribution Download URL</label>
        <input type="text" name="distribution_download_url" class="form-control" id="distribution_download_url"
               placeholder="Enter the url of the distribution">
    </div>

    <div class="form-group">
        <label for="mapping_document_download_url">Mapping document download url</label>
        <input type="text" name="mapping_document_download_url" class="form-control" id="mapping_document_download_url"
               placeholder="Enter the url of the mapping document">
    </div>


    <div class="form-group">
        <label for="language">Mapping Language</label>
        <select name="language" class="form-control" id="language">
            <option value="R2RML">R2RML</option>
            <option value="RML">RML</option>
        </select>
    </div>

    <input type="submit" class="btn btn-primary"/>

</form>
{% endblock %}