{% extends "base.html" %}
{% block body %}


<script>
$(document).ready(function(){

    $("#organization").change(function() {
        console.log('organization select value is changed to: '+$("#organization").val());
        $.getJSON("get_datasets?organization="+$("#organization").val(), function(data){
            datasets = data["datasets"]
            $("#num-of-datasets").html(' ('+datasets.length+')');
            var options_html = '';
            var i
            var single_option;
            for(i=0;i<datasets.length;i++){
                single_option = '<option value="'+datasets[i].name+'">'+datasets[i].title+'</option>\n';
                options_html += single_option;
            }//for
             $("#dataset_select").html(options_html);
             $("#dataset_select").change();
        });//getJSON
    });//change

    $("#organization").change();


    $("#dataset_select").change(function() {
        console.log('dataset select value is changed to: '+$("#dataset_select").val());
        if($("#dataset_select").val() != null){
            var dataset = $("#dataset_select").val();
            $.getJSON("get_distributions?dataset="+dataset, function(data){
                if("error" in data){
                    alert("error getting distributions data "+data["error"]);
                }
                else{
                    var single_option;
                    var i;
                    var distributions = data["distributions"];
                    $("#num-of-distributions").html(' ('+distributions.length+')');
                    var select_html='';
                    for(i=0;i<distributions.length;i++){
                        console.log(distributions[i]);
                        if(distributions[i]["name"] == null || distributions[i]["name"].trim()==""){
                            single_option = '<option value="'+distributions[i]["id"]+'">'+distributions[i]["id"].substring(0,5)+' ('+distributions[i]["url"]+')'+'</option>\n';
                        }
                        else{
                            single_option = '<option value="'+distributions[i]["id"]+'">'+distributions[i]["name"]+'</option>\n';
                        }
                        select_html += single_option;
                    }//for
                    $("#distribution").html(select_html);
                }
            });//getJSON
            $.getJSON("get_mappings?dataset="+dataset, function(data){
                console.log('get_mappings: ');
                if("error" in data){
                    alert("error getting mappings data "+data["error"]);
                }
                else{
                    console.log('mappings results: ');
                    console.log(data);
                    var single_option;
                    var i;
                    var mappings = data["mappings"];
                    $("#num-of-mappings").html(' ('+mappings.length+')');
                    var select_html='';
                    for(i=0;i<mappings.length;i++){
                        console.log(mappings[i]);
                        if(mappings[i]["name"] == null || mappings[i]["mappingDocumentTitle"].trim()==""){
                            single_option = '<option value="'+mappings[i]["id"]+'">'+mappings[i]["id"] +' ('+mappings[i]["dateSubmitted"]+')' +'</option>\n';
                        }
                        else{
                            single_option = '<option value="'+mappings[i]["id"]+'">'+mappings[i]["mappingDocumentTitle"] +' ('+mappings[i]["dateSubmitted"]+')' +'</option>\n';
                        }
                        select_html += single_option;
                    }//for
                    $("#mapping").html(select_html);
                    $("#mapping").change();
                }
            });//getJSON
        }//if
    });//change

});//ready
</script>

<br>
<form method="POST"> {% csrf_token %}


    <!--<div class="form-group">-->
    <!--<label for="org">Organization Name</label>-->
    <!--<input type="text" name="organization" class="form-control" id="org" placeholder="Enter the organization name">-->
    <!--</div>-->


    {%if organizations|length == 1 %}
    <h5>Organization: {{organizations.0}}</h5>
    <div class="form-group" hidden>
        <label for="organization">Organization Name</label>
        <select name="organization" class="form-control" id="organization">
            {%for organization in organizations%}
            <option value="{{organization}}">{{organization}}</option>
            {%endfor%}
        </select>
    </div>

    {%else%}
    <div class="form-group">
        <label for="organization">Organization Name</label>
        <select name="organization" class="form-control" id="organization">
            {%for organization in organizations%}
            <option value="{{organization}}">{{organization}}</option>
            {%endfor%}
        </select>
    </div>

    {%endif%}

    <div class="form-group">
        <label for="dataset_select">Dataset</label><span id="num-of-datasets"></span>
        <select name="dataset" class="form-control" id="dataset_select">
            {%for dataset in datasets%}
            <option value="{{dataset.name}}">{{dataset.title}}</option>
            {%endfor%}
        </select>
    </div>

    <div class="form-group">
        <label for="distribution">Distribution (File)</label><span id="num-of-distributions"></span>
        <select name="distribution" class="form-control" id="distribution">
        </select>
    </div>

    <div class="form-group">
        <label for="mapping">Mapping (File)</label><span id="num-of-mappings"></span>
        <select name="mapping" class="form-control" id="mapping">
        </select>
    </div>

    <input type="hidden" name="language" id="language" value="not specified">

    <div class="form-group">
        <label for="use_cache">Use Cache</label>
        <select name="use_cache" class="form-control" id="use_cache">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>


    <input type="submit" class="btn btn-primary"/>

</form>
{% endblock %}