<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mappings view</title>
</head>
<body>
    dataset view

    <form action="mapping_register" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        dataset id
        <input name="dataset_id"/>
        mapping document download url
        <input name="mapping_file_url" />
        mapping document file
        <input name="mapping_file" type="file"/>
        <input type="submit"/>
    </form>

    <!--<form action="mapping_upload" method="POST"> {% csrf_token %}-->
        <!--dataset id-->
        <!--<input name="dataset_id"/>-->
        <!--mapping document file-->
        <!--<input name="mapping_file" type="file"/>-->
        <!--<input type="submit"/>-->
    <!--</form>-->

</body>
</html>



