{% extends "base.html" %}
{% block body %}
<script>
    var datasets = []
    function set_distribution_source(source){
        if(source=='url'){
            $("#mapping_url_div").show();
            $("#mapping_url_radio").removeClass("btn-secondary");
            $("#mapping_url_radio").addClass("btn-primary");

            $("#mapping_file_div").hide();
            $("#mapping_file_radio").removeClass("btn-primary");
            $("#mapping_file_radio").addClass("btn-secondary");

            $("#mapping_create_div").hide();
            $("#mapping_create_radio").removeClass("btn-primary");
            $("#mapping_create_radio").addClass("btn-secondary");

            $("#submit-button").show();

        }
        else if(source=='file'){
            $("#mapping_url_div").hide();
            $("#mapping_url_radio").removeClass("btn-primary");
            $("#mapping_url_radio").addClass("btn-secondary");

            $("#mapping_file_div").show();
            $("#mapping_file_radio").removeClass("btn-secondary");
            $("#mapping_file_radio").addClass("btn-primary");

            $("#mapping_create_div").hide();
            $("#mapping_create_radio").removeClass("btn-primary");
            $("#mapping_create_radio").addClass("btn-secondary");

            $("#submit-button").show();
        }
        else if(source=='create'){
            $("#mapping_url_div").hide();
            $("#mapping_url_radio").removeClass("btn-primary");
            $("#mapping_url_radio").addClass("btn-secondary");

            $("#mapping_file_div").hide();
            $("#mapping_file_radio").removeClass("btn-primary");
            $("#mapping_file_radio").addClass("btn-secondary");

            $("#mapping_create_div").show();
            $("#mapping_create_radio").removeClass("btn-secondary");
            $("#mapping_create_radio").addClass("btn-primary");

            $("#submit-button").hide();






        }

    }

$(document).ready(function(){
    set_distribution_source('url');

    $("#organization").change(function() {
        console.log('dataset select value is changed to: '+$("#organization").val());
        $.getJSON("get_datasets?organization="+$("#organization").val(), function(data){
            datasets = data["datasets"]
            $("#num-of-datasets").html(' ('+datasets.length+')');
            var options_html = '';
            var i
            var single_option;
            for(i=0;i<datasets.length;i++){
                single_option = '<option value="'+datasets[i].id+'">'+datasets[i].title+'</option>\n';
                options_html += single_option;
            }//for
             $("#dataset_select").html(options_html);
             $("#dataset_select").change();
        });//getJSON
    });//change

    $("#organization").change();

    $("#go-to-editor-button").click(function(){
        if($("#dataset_select").val() && $("#distribution").val()){
            window.location.href = 'editor?dataset='+$("#dataset_select").val()+'&distribution='+$("#distribution").val()+'&download_url=';
        }
        else{
            alert('Dataset cannot be empty');
        }
    });


    $("#dataset_select").change(function() {
        console.log('dataset select value is changed to: '+$("#dataset_select").val());
        var dataset = $("#dataset_select").val();
            $.getJSON("get_distributions?dataset="+dataset, function(data){
                if("error" in data){
                    alert("error getting data");
                }
                else{
                    var single_option;
                    var i;
                    var distributions = data["distributions"];
                    var select_html='';
                    for(i=0;i<distributions.length;i++){
                        console.log(distributions[i]);
                        if(distributions[i]["name"] == null || distributions[i]["name"].trim()==""){
                            single_option = '<option value="'+distributions[i]["id"]+'">'+distributions[i]["id"].substring(0,5)+' ('+distributions[i]["url"]+')'+'</option>\n';
                        }
                        else{
                            single_option = '<option value="'+distributions[i]["id"]+'">'+distributions[i]["id"].substring(0,5)+' ('+distributions[i]["name"]+')'+'</option>\n';
                        }
                        select_html += single_option;
                    }
                    $("#distribution").html(select_html);
                }
            });
    });//change

});//ready






</script>
<br>
<form method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <!--<div class="form-group">-->
    <!--<label for="org">Organization Name</label>-->
    <!--<input type="text" name="organization" class="form-control" id="org" placeholder="Enter the organization name">-->
    <!--</div>-->

    {%if organizations|length == 1 %}
    <h5>Organization: {{organizations.0}}</h5>
    <div class="form-group" hidden>
        <label for="organization">Organization Name</label>
        <select name="organization" class="form-control" id="organization">
            {%for organization in organizations%}
            <option value="{{organization}}">{{organization}}</option>
            {%endfor%}
        </select>
    </div>

    {%else%}
    <div class="form-group">
        <label for="organization">Organization</label>
        <select name="organization" class="form-control" id="organization">
            {%for organization in organizations%}
            <option value="{{organization}}">{{organization}}</option>
            {%endfor%}
        </select>
    </div>

    {%endif%}

    <div class="form-group">
        <label for="dataset_select">Dataset</label><span id="num-of-datasets"></span>
        <select name="package_id" class="form-control" id="dataset_select">
            {%for dataset in datasets%}
            <option value="{{dataset.id}}">{{dataset.title}}</option>
            {%endfor%}
        </select>
    </div>




    <!--<div class="form-group">-->
        <!--<label for="dataset-id">Dataset ID</label>-->
        <!--<input type="text" name="dataset_id" class="form-control" id="dataset-id" placeholder="Enter the dataset ID">-->
    <!--</div>-->

    <div class="form-group">
        <div class="btn-group" role="group" aria-label="Basic example" data-toggle="buttons-radio">
            <button type="button" class="btn btn-primary" id="mapping_url_radio"
                    onclick="set_distribution_source('url')">Mapping URL
            </button>
            <button type="button" class="btn btn-secondary" id="mapping_file_radio"
                    onclick="set_distribution_source('file')">Mapping File
            </button>
            <button type="button" class="btn btn-secondary" id="mapping_create_radio"
                    onclick="set_distribution_source('create')">Create Mapping
            </button>
        </div>
    </div>

    <div class="form-group" id="mapping_url_div">
        <label for="mapping_file_url">Mapping Document Download URL</label>
        <input type="url" name="mapping_file_url" class="form-control" id="mapping_file_url"
               placeholder="Enter the mapping file download url">
    </div>

    <div class="form-group" id="mapping_file_div">
        <label for="mapping_file">Mapping Document File</label>
        <input type="file" name="mapping_file" class="form-control-file" id="mapping_file">
    </div>

    <div class="form-group" id="mapping_create_div">
        <label for="distribution">Distribution (File)</label>
        <select name="distribution" class="form-control" id="distribution">
        </select>
        <p>You can create a mapping using our online editor</p>
        <div class="btn btn-primary" id="go-to-editor-button">Go to editor</div>
    </div>

    <input type="submit" class="btn btn-primary" id="submit-button"/>


</form>

{% endblock %}

